section
{
width:50%;
height:30%;
}
h1{
font-variant:small-caps;
background-color:#5F5F5F;
text-align:center;
color:#ffffff
}
span{
background-color:#F1F1F1;
color:#DC082F;
}
li{
font-family:Courier;
}